body {
  background-size: 100%;
}

.body-background {
  width:100%;
  height:100%;
}

.nav-title {
  width:100%;
  background:white;
  opacity:0.6;
  max-height:69px;
  margin-top:10%;
  margin-bottom:auto;
}

.header-center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

h1.title {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

h2.title {
  text-align:left;
}

.time {
  max-width:301px;
}

.clock {
  width:100%;
  margin-top:15%;
}

.clock > h1 {
  /*text-align:center;*/
  /*margin-left:auto;*/
  /*margin-right:auto;*/
  font-size:120px;
  margin-bottom: 0px;
}

.shadow {
  color:white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.date {
  font-size: 24px;
}

#hour {
  margin-right: -30px;
}

#minute {
  margin-left: -30px;
}